html,
body,
div,
ul,
li,
span,
a,
p,
img,
i,
input,
button,
form,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  outline: none;
  /* 输入框的阴影框，一般会在鼠标点击后出现，初始化清除，若需要，请从添加 */
  list-style: none;
  border: none;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-weight: 200;
  font-family: 'Microsoft yahei ', 'Avenir', Helvetica, Arial, sans-serif;
}
a {
  color: #ccc;
}
a:hover {
  color: red;
}
.clearfix {
  zoom: 1;
  /* IE6 IE7 */
}
.clearfix:after,
.clearfix:before {
  content: " ";
  width: 0;
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.panelCenter {
  width: 1200px;
}
